/*=== GERAL ===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #7FA9C7;
  --typography: #3C5B5F;
  --background: #ECEBE7;
  
  font-size: 62.5%; /* 1rem = 10px */
}

*::selection {
  background-color: var(--typography);
  color: var(--background);
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Manrope';
  overflow: overlay;

  background-color: var(--background);
  color: var(--typography);

  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.36px;
}

.container {
  display: flex;
}

.container-left {
  background-color: var(--typography);
  color: var(--background);
  width: 240px;
}

.sensor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--background);
  opacity: 0.7;
  width: 14rem;
  height: 4.8rem;
  border-radius: 100px;
  transition: all .3s;
  cursor: pointer;
  padding: 1.6rem 1.2rem;
}

.btn-primary:hover {
  opacity: 1;
}

.logo,
.identificacao_usuario,
.selectCaminhao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.identificacao_usuario{
flex-direction: column;
}

.selectCaminhao{
  flex-direction: column;
  gap: 2rem;
}

select,
.analisarCaminhao,
.sair {
  height: 4vh;
  width: 20vh;
  border-radius: 0.8rem;
}

/* .indicadores{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: auto;
  margin-right: 2rem;
}

.alerta{
 width: 200px;
 padding: 15px;
 border-radius: 20px;
  background-color: rgb(243, 252, 0);
  box-shadow: 0 0 150px  rgb(243, 252, 0);
}
.atencao{
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(255, 149, 0);
  box-shadow: 0 0 150px rgb(255, 149, 0);
}

.bom{
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(84, 230, 0);
  box-shadow: 0 0 150px rgb(84, 230, 0);
}

.ruim{
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 150px rgb(255, 0, 0);
} */